# Build artifacts
/build/
/bin/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
/Makefile
/*.o
/*.obj
/*.a
/*.lib
/*.so
/*.dll
/*.dylib
/*.exe
/compile_commands.json

# Editors/IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
